.formControl.error input,
.formControl.error textarea {
    border: 2px solid #f02849;
}

.formControl.error span {
    color: rebeccapurple;
}

.formSummaryError {
    padding: 5px;
    color: rebeccapurple;
}