.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.friend {
    color: white;
}

.friendBlock {
    float: right;
}

.friend img {
    padding: 3px;
    width: 43px;
    border-radius: 50%;
}