.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.dialog img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.messages {
    padding: 10px;
}

.messages.message {
    color: white;
}